# Reshape by ACS table

In [1]:
import numpy as np
import pandas as pd
import intake
import os

In [2]:
df = pd.read_parquet('../data/raw_census_long.parquet')
df = df[df.GEOID=='06037141400']

In [9]:
emp = df[df.table=='emp']

In [10]:
emp

,GEOID,year,variable,value,table,main_var,second_var,new_var,value2
26880,06037141400,2010,S2301_C01_001E,3697.0,emp,pop16,pop16,pop16_pop16,3697.000
26881,06037141400,2010,S2301_C01_010E,2904.0,emp,pop16,white,pop16_white,2904.000
26882,06037141400,2010,S2301_C01_011E,156.0,emp,pop16,black,pop16_black,156.000
26883,06037141400,2010,S2301_C01_012E,0.0,emp,pop16,amerind,pop16_amerind,0.000
26884,06037141400,2010,S2301_C01_013E,372.0,emp,pop16,asian,pop16_asian,372.000
26885,06037141400,2010,S2301_C01_014E,12.0,emp,pop16,pacis,pop16_pacis,12.000
26886,06037141400,2010,S2301_C01_015E,158.0,emp,pop16,other,pop16_other,158.000
26887,06037141400,2010,S2301_C01_016E,95.0,emp,pop16,race2,pop16_race2,95.000
26888,06037141400,2010,S2301_C01_017E,379.0,emp,pop16,hisp,pop16_hisp,379.000
26889,06037141400,2010,S2301_C01_018E,2713.0,emp,pop16,nonhisp,pop16_nonhisp,2713.000
26890,06037141400,2010,S2301_C01_019E,2732.0,emp,pop16,pop20,pop16_pop20,2732.000
26891,06037141400,2010,S2301_C01_020E,1322.0,emp,pop16,male,pop16_male,1322.000
26892,06037141400,2010,S2301_C01_021E,1410.0,emp,pop16,female,pop16_female,1410.000
26893,06037141400,2010,S2301_C01_022E,217.0,emp,pop16,femalewchild6,pop16_femalewchild6,217.000
26894,06037141400,2010,S2301_C01_023E,NaN,emp,pop16,pov,pop16_pov,NaN
26895,06037141400,2010,S2301_C01_025E,2595.0,emp,pop16,pop25,pop16_pop25,2595.000
26896,06037141400,2010,S2301_C01_026E,104.0,emp,pop16,lhs,pop16_lhs,104.000
26897,06037141400,2010,S2301_C01_027E,241.0,emp,pop16,hs,pop16_hs,241.000
26898,06037141400,2010,S2301_C01_028E,521.0,emp,pop16,college,pop16_college,521.000
26899,06037141400,2010,S2301_C01_029E,1729.0,emp,pop16,ba,pop16_ba,1729.000
26900,06037141400,2010,S2301_C02_001E,63.4,emp,lf16,pop16,lf16_pop16,0.634
26901,06037141400,2010,S2301_C02_010E,59.6,emp,lf16,white,lf16_white,0.596
26902,06037141400,2010,S2301_C02_011E,74.4,emp,lf16,black,lf16_black,0.744
26903,06037141400,2010,S2301_C02_012E,NaN,emp,lf16,amerind,lf16_amerind,NaN
26904,06037141400,2010,S2301_C02_013E,74.5,emp,lf16,asian,lf16_asian,0.745
26905,06037141400,2010,S2301_C02_014E,0.0,emp,lf16,pacis,lf16_pacis,0.000
26906,06037141400,2010,S2301_C02_015E,84.2,emp,lf16,other,lf16_other,0.842
26907,06037141400,2010,S2301_C02_016E,90.5,emp,lf16,race2,lf16_race2,0.905
26908,06037141400,2010,S2301_C02_017E,65.2,emp,lf16,hisp,lf16_hisp,0.652
26909,06037141400,2010,S2301_C02_018E,60.2,emp,lf16,nonhisp,lf16_nonhisp,0.602
...,...,...,...,...,...,...,...,...,...
1431950,06037141400,2017,S2301_C03_021E,85.8,emp,emp16,pop20,emp16_pop20,0.858
1434296,06037141400,2017,S2301_C03_022E,89.8,emp,emp16,male,emp16_male,0.898
1436642,06037141400,2017,S2301_C03_023E,82.0,emp,emp16,female,emp16_female,0.820
1438988,06037141400,2017,S2301_C03_025E,76.9,emp,emp16,femalewchild6,emp16_femalewchild6,0.769
1441334,06037141400,2017,S2301_C03_028E,72.7,emp,emp16,pov,emp16_pov,0.727
1443680,06037141400,2017,S2301_C03_031E,87.1,emp,emp16,pop25,emp16_pop25,0.871
1446026,06037141400,2017,S2301_C03_032E,61.9,emp,emp16,lhs,emp16_lhs,0.619
1448372,06037141400,2017,S2301_C03_033E,84.7,emp,emp16,hs,emp16_hs,0.847
1450718,06037141400,2017,S2301_C03_034E,82.4,emp,emp16,college,emp16_college,0.824
1453064,06037141400,2017,S2301_C03_035E,89.5,emp,emp16,ba,emp16_ba,0.895
1455410,06037141400,2017,S2301_C04_001E,3.6,emp,unempr16,pop16,unempr16_pop16,0.036
1457756,06037141400,2017,S2301_C04_012E,3.9,emp,unempr16,white,unempr16_white,0.039
1460102,06037141400,2017,S2301_C04_013E,4.8,emp,unempr16,black,unempr16_black,0.048
1462448,06037141400,2017,S2301_C04_014E,NaN,emp,unempr16,amerind,unempr16_amerind,NaN
1464794,06037141400,2017,S2301_C04_015E,0.0,emp,unempr16,asian,unempr16_asian,0.000
1467140,06037141400,2017,S2301_C04_016E,NaN,emp,unempr16,pacis,unempr16_pacis,NaN
1469486,06037141400,2017,S2301_C04_017E,0.0,emp,unempr16,other,unempr16_other,0.000
1471832,06037141400,2017,S2301_C04_018E,0.0,emp,unempr16,race2,unempr16_race2,0.000
1474178,06037141400,2017,S2301_C04_019E,7.1,emp,unempr16,hisp,unempr16_hisp,0.071
1476524,06037141400,2017,S2301_C04_020E,3.6,emp,unempr16,nonhisp,unempr16_nonhisp,0.036
1478870,06037141400,2017,S2301_C04_021E,3.2,emp,unempr16,pop20,unempr16_pop20,0.032
1481216,06037141400,2017,S2301_C04_022E,1.9,emp,unempr16,male,unempr16_male,0.019
1483562,06037141400,2017,S2301_C04_023E,4.5,emp,unempr16,female,unempr16_female,0.045
1485908,06037141400,2017,S2301_C04_025E,13.0,emp,unempr16,femalewchild6,unempr16_femalewchild6,0.130
1488254,06037141400,2017,S2301_C04_028E,12.3,emp,unempr16,pov,unempr16_pov,0.123
1490600,06037141400,2017,S2301_C04_031E,3.2,emp,unempr16,pop25,unempr16_pop25,0.032
1492946,06037141400,2017,S2301_C04_032E,7.1,emp,unempr16,lhs,unempr16_lhs,0.071
1495292,06037141400,2017,S2301_C04_033E,5.7,emp,unempr16,hs,unempr16_hs,0.057
1497638,06037141400,2017,S2301_C04_034E,2.5,emp,unempr16,college,unempr16_college,0.025
1499984,06037141400,2017,S2301_C04_035E,3.1,emp,unempr16,ba,unempr16_ba,0.031

In [7]:
"""
Food stamps table has inconsistent values.
2010-2014, hh in poverty is given in %. same as 
2015-2017, hh in poverty is given as numbers.
Do each table separately.

Store column that tells me if they are numbers, percents, or dollars.
"""
food = df[df.table=='food']
food[food.year==2012]

,GEOID,year,variable,value,table,main_var,second_var,new_var,value2
30174,06037141400,2012,S2201_C01_001E,1969.0,food,hh,hh,hh_hh,1969.0
30175,06037141400,2012,S2201_C01_004E,10.4,food,hh,hh_pov,hh_hh_pov,10.4
30176,06037141400,2012,S2201_C01_016E,105875.0,food,hh,medhhincome,hh_medhhincome,105875.0
30177,06037141400,2012,S2201_C02_001E,13.0,food,hh_food,hh,hh_food_hh,13.0
30178,06037141400,2012,S2201_C02_004E,100.0,food,hh_food,hh_pov,hh_food_hh_pov,100.0
30179,06037141400,2012,S2201_C02_016E,NaN,food,hh_food,medhhincome,hh_food_medhhincome,NaN

In [3]:
def make_percents(row):
    emp_cond = (row.table=='emp') and (row.main_var in ['lf16', 'emp16', 'unempr16'])
    income_cond = (row.table=='income') and (row.main_var=='hh') and (row.second_var != 'hh')
    edu_cond = (row.table=='edu') and (row.second_var != 'pop25') and (row.second_var.find('medearning') == -1)
    food_cond = (row.table=='food') and (row.second_var != 'hh') and (row.second_var.find('income') == -1)
    povfam_cond = (row.table=='povfam') and (row.main_var=='families_pov')
    food_cond = (row.table=='food') and (row.second_var=='hh_pov') and (row.year <= 2014)
    if emp_cond or edu_cond or income_cond or povfam_cond:
        return (row.value/100)
    elif (row.table=='aggpubassist') and (row.value < -100000):
        return np.nan
    else:
        return row.value

df['value2'] = df.apply(make_percents, axis = 1)

In [4]:
df.to_stata('../data/raw_census_long.dta')

In [ ]:
pubassist = df[df.table=='pubassist']
# These are number of families that received food stamps
# Need to derive percents

In [ ]:
pubassist