# Reshape by ACS table

In [1]:
import numpy as np
import pandas as pd
import intake
import os

In [51]:
edu = pd.read_csv('../data/Census/educational_attainment_tract.csv')
edu2 = pd.read_csv('../data/Census/educational_attainment_tract_2015_2017.csv')

In [50]:
edu.year.value_counts()

2017    46920
2016    46920
2015    46920
2014    46920
2013    46920
2012    46920
2011    46920
2010    46920
Name: year, dtype: int64

In [52]:
edu2.year.value_counts()

2017    149718
2016    149718
2015    149718
Name: year, dtype: int64

In [54]:
len(edu2)

449154

In [53]:
len(edu2.drop_duplicates())

449154

In [57]:
edu2[(edu2.GEOID=='06037141400')]

Empty DataFrame
Columns: [GEOID, NAME, variable, estimate, moe, year]
Index: []

In [2]:
df = pd.read_parquet('../data/raw_census_long.parquet')
df = df[df.GEOID=='06037141400']

In [40]:
orig =pd.read_parquet('../data/raw_census_long.parquet')
orig = orig[orig.table=='edu']

In [48]:
orig[(orig.second_var=='pct_hsplus') & (orig.year==2017)].variable.value_counts()

S1501_C01_014E    2346
Name: variable, dtype: int64

In [3]:
df.table.value_counts()

emp             640
income          160
edu             160
food             48
povfam           16
pubassist        16
housing           8
pop               8
aggpubassist      8
Name: table, dtype: int64

## Employment

In [4]:
emp = df[df.table=='emp']

In [6]:
def emp_type(row):
    if (row.main_var=='pop'):
        return 'number'
    elif (row.main_var != 'pop'):
        return 'percent'
    
emp['var_type'] = emp.apply(emp_type, axis = 1)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [17]:
emp_pop = emp[emp.main_var=='pop']

emp_dfs = {}

# For each table, do a merge with pop numbers, convert the percents back to numbers and save into dictionary
for subset in ['lf', 'epr', 'unemp']:
    new_pct_col = "pct"
    new_num_col = "num"
    subset_df = emp[emp.main_var == subset]
    merged = pd.merge(emp_pop16, subset_df, on = ['GEOID', 'year', 'table', 'second_var'])
    merged = merged.drop(columns = ['variable_x', 'main_var_x', 'new_var_x'])
    merged.rename(columns = {'value_x': 'num_pop', 'value_y': new_pct_col}, inplace = True)
    merged[new_pct_col] = merged[new_pct_col] / 100
    merged[new_num_col] = merged.num_pop * merged[new_pct_col]
    merged = merged[['GEOID', 'year', 'table', 'second_var', 'variable_y', 'main_var_y', 'new_var_y', new_pct_col, new_num_col]]
    merged.rename(columns = {'variable_y': 'variable', 'main_var_y': 'main_var', 'new_var_y': 'new_var'}, inplace = True)
    emp_dfs[subset] = merged

In [18]:
emp_pop['num'] = emp_pop.value
emp_pop['pct'] = 1
emp_pop = emp_pop.drop(columns = ['value', 'var_type'])
emp_pop.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,GEOID,year,variable,table,main_var,second_var,new_var,num,pct
26880,06037141400,2010,S2301_C01_001E,emp,pop,total_pop16,pop_total_pop16,3697.0,1
26881,06037141400,2010,S2301_C01_010E,emp,pop,white,pop_white,2904.0,1
26882,06037141400,2010,S2301_C01_011E,emp,pop,black,pop_black,156.0,1
26883,06037141400,2010,S2301_C01_012E,emp,pop,amerind,pop_amerind,0.0,1
26884,06037141400,2010,S2301_C01_013E,emp,pop,asian,pop_asian,372.0,1

In [24]:
# Append the emp dfs together to be long
appended = emp_pop

for key, value in emp_dfs.items():
    appended = appended.append(value, sort = False)

## Income

In [27]:
income = df[df.table=='income']

In [28]:
def income_type(row):
    if (row.main_var=='hh') & (row.second_var=='hh'):
        return 'number'
    elif (row.main_var == 'medincome'):
        return 'dollar'
    elif (row.main_var=='hh') & (row.second_var != 'hh') & (row.year <= 2016):
        return 'percent'
    elif (row.main_var=='hh') & (row.second_var != 'hh') & (row.year >= 2017):
        return 'number'
    
income['var_type'] = income.apply(income_type, axis = 1)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [31]:
# Create a denominator column. Use this to convert percent values into numbers.
income['denom'] = income.apply(lambda row: row.value if row.new_var=='hh_total' else np.nan, axis = 1)
income['denom'] = income['denom'].fillna(income.groupby(['GEOID', 'year'])['denom'].transform('max'))
income.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,GEOID,year,variable,value,table,main_var,second_var,new_var,var_type,denom
6720,06037141400,2010,S1903_C01_001E,1925.0,income,hh,total,hh_total,percent,1925.0
6721,06037141400,2010,S1903_C01_002E,81.7,income,hh,white,hh_white,percent,1925.0
6722,06037141400,2010,S1903_C01_003E,2.2,income,hh,black,hh_black,percent,1925.0
6723,06037141400,2010,S1903_C01_004E,0.0,income,hh,amerind,hh_amerind,percent,1925.0
6724,06037141400,2010,S1903_C01_005E,8.9,income,hh,asian,hh_asian,percent,1925.0

In [32]:
# Replace values that were percents with numbers
income['pct'] = income.apply(lambda row: (row.value / 100) if row.var_type=='percent' 
                             else (row.value / row.denom), axis = 1)

income['num'] = income.apply(lambda row: row.value if row.var_type=='number' else (row.pct * row.denom), axis = 1)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [34]:
drop_me = ['value', 'var_type', 'denom']
income = income.drop(columns = drop_me)

,GEOID,year,variable,table,main_var,second_var,new_var,pct,num
6720,06037141400,2010,S1903_C01_001E,income,hh,total,hh_total,19.250000,37056.250
6721,06037141400,2010,S1903_C01_002E,income,hh,white,hh_white,0.817000,1572.725
6722,06037141400,2010,S1903_C01_003E,income,hh,black,hh_black,0.022000,42.350
6723,06037141400,2010,S1903_C01_004E,income,hh,amerind,hh_amerind,0.000000,0.000
6724,06037141400,2010,S1903_C01_005E,income,hh,asian,hh_asian,0.089000,171.325
6725,06037141400,2010,S1903_C01_006E,income,hh,pacis,hh_pacis,0.000000,0.000
6726,06037141400,2010,S1903_C01_007E,income,hh,other,hh_other,0.042000,80.850
6727,06037141400,2010,S1903_C01_008E,income,hh,race2,hh_race2,0.030000,57.750
6728,06037141400,2010,S1903_C01_009E,income,hh,hisp,hh_hisp,0.100000,192.500
6729,06037141400,2010,S1903_C01_010E,income,hh,nonhisp,hh_nonhisp,0.773000,1488.025
6730,06037141400,2010,S1903_C02_001E,income,medincome,total,medincome_total,50.422338,97063.000
6731,06037141400,2010,S1903_C02_002E,income,medincome,white,medincome_white,51.157403,98478.000
6732,06037141400,2010,S1903_C02_003E,income,medincome,black,medincome_black,2.033247,3914.000
6733,06037141400,2010,S1903_C02_004E,income,medincome,amerind,medincome_amerind,NaN,NaN
6734,06037141400,2010,S1903_C02_005E,income,medincome,asian,medincome_asian,63.816623,122847.000
6735,06037141400,2010,S1903_C02_006E,income,medincome,pacis,medincome_pacis,NaN,NaN
6736,06037141400,2010,S1903_C02_007E,income,medincome,other,medincome_other,31.422857,60489.000
6737,06037141400,2010,S1903_C02_008E,income,medincome,race2,medincome_race2,103.172468,198607.000
6738,06037141400,2010,S1903_C02_009E,income,medincome,hisp,medincome_hisp,27.272727,52500.000
6739,06037141400,2010,S1903_C02_010E,income,medincome,nonhisp,medincome_nonhisp,52.597403,101250.000
53660,06037141400,2012,S1903_C01_001E,income,hh,total,hh_total,19.690000,38769.610
53661,06037141400,2012,S1903_C01_002E,income,hh,white,hh_white,0.846000,1665.774
53662,06037141400,2012,S1903_C01_003E,income,hh,black,hh_black,0.016000,31.504
53663,06037141400,2012,S1903_C01_004E,income,hh,amerind,hh_amerind,0.000000,0.000
53664,06037141400,2012,S1903_C01_005E,income,hh,asian,hh_asian,0.073000,143.737
53665,06037141400,2012,S1903_C01_006E,income,hh,pacis,hh_pacis,0.000000,0.000
53666,06037141400,2012,S1903_C01_007E,income,hh,other,hh_other,0.028000,55.132
53667,06037141400,2012,S1903_C01_008E,income,hh,race2,hh_race2,0.038000,74.822
53668,06037141400,2012,S1903_C01_009E,income,hh,hisp,hh_hisp,0.073000,143.737
53669,06037141400,2012,S1903_C01_010E,income,hh,nonhisp,hh_nonhisp,0.823000,1620.487
...,...,...,...,...,...,...,...,...,...
288250,06037141400,2011,S1903_C02_001E,income,medincome,total,medincome_total,56.747013,109238.000
288251,06037141400,2011,S1903_C02_002E,income,medincome,white,medincome_white,56.762597,109268.000
288252,06037141400,2011,S1903_C02_003E,income,medincome,black,medincome_black,NaN,NaN
288253,06037141400,2011,S1903_C02_004E,income,medincome,amerind,medincome_amerind,NaN,NaN
288254,06037141400,2011,S1903_C02_005E,income,medincome,asian,medincome_asian,66.686234,128371.000
288255,06037141400,2011,S1903_C02_006E,income,medincome,pacis,medincome_pacis,NaN,NaN
288256,06037141400,2011,S1903_C02_007E,income,medincome,other,medincome_other,32.529351,62619.000
288257,06037141400,2011,S1903_C02_008E,income,medincome,race2,medincome_race2,105.825974,203715.000
288258,06037141400,2011,S1903_C02_009E,income,medincome,hisp,medincome_hisp,32.846234,63229.000
288259,06037141400,2011,S1903_C02_010E,income,medincome,nonhisp,medincome_nonhisp,57.526753,110739.000
329330,06037141400,2017,S1903_C01_001E,income,hh,total,hh_total,1.000000,2036.000
331676,06037141400,2017,S1903_C01_002E,income,hh,white,hh_white,0.835462,1701.000
334022,06037141400,2017,S1903_C01_003E,income,hh,black,hh_black,0.084971,173.000
336368,06037141400,2017,S1903_C01_004E,income,hh,amerind,hh_amerind,0.000000,0.000
338714,06037141400,2017,S1903_C01_005E,income,hh,asian,hh_asian,0.056974,116.000
341060,06037141400,2017,S1903_C01_006E,income,hh,pacis,hh_pacis,0.000000,0.000
343406,06037141400,2017,S1903_C01_007E,income,hh,other,hh_other,0.013261,27.000
345752,06037141400,2017,S1903_C01_008E,income,hh,race2,hh_race2,0.009332,19.000
348098,06037141400,2017,S1903_C01_009E,income,hh,hisp,hh_hisp,0.045678,93.000
350444,06037141400,2017,S1903_C01_010E,income,hh,nonhisp,hh_nonhisp,0.803045,1635.000
352790,06037141400,2017,S1903_C03_001E,income,medincome,total,medincome_total,46.305992,94279.000
355136,06037141400,2017,S1903_C03_002E,income,medincome,white,medincome_white,47.231827,96164.000
357482,06037141400,2017,S1903_C03_003E,income,medincome,black,medincome_black,NaN,NaN
359828,06037141400,2017,S1903_C03_004E,income,medincome,amerind,medincome_amerind,NaN,NaN
362174,06037141400,2017,S1903_C03_005E,income,medincome,asian,medincome_asian,86.198428,175500.000
364520,06037141400,2017,S1903_C03_006E,income,medincome,pacis,medincome_pacis,NaN,NaN
366866,06037141400,2017,S1903_C03_007E,income,medincome,other,medincome_other,NaN,NaN
369212,06037141400,2017,S1903_C03_008E,income,medincome,race2,medincome_race2,NaN,NaN
371558,06037141400,2017,S1903_C03_009E,income,medincome,hisp,medincome_hisp,19.377701,39453.000
373904,06037141400,2017,S1903_C03_010E,income,medincome,nonhisp,medincome_nonhisp,47.485756,96681.000

## Education

In [35]:
edu = df[df.table=='edu']

In [36]:
def edu_type(row):
    if (row.second_var.find('pct') != -1) or (row.second_var.find('pov') != -1):
        return 'percent'
    elif row.second_var.find('medearning') != -1:
        return 'dollar'
    elif (row.second_var.find('pct') == -1) & (row.second_var.find('medearning') == -1):
        return 'number'
    
edu['var_type'] = edu.apply(edu_type, axis = 1)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [ ]:
# Create a denominator column. Use this to convert percent values into numbers.
edu['denom'] = edu.apply(lambda row: row.value if row.new_var=='hh_total' else np.nan, axis = 1)
edu['denom'] = edu['denom'].fillna(edu.groupby(['GEOID', 'year'])['denom'].transform('max'))
edu.head()

In [38]:
# Replace values that were percents with numbers
income['pct'] = income.apply(lambda row: (row.value / 100) if row.var_type=='percent' 
                             else (row.value / row.denom), axis = 1)

income['num'] = income.apply(lambda row: row.value if row.var_type=='number' else (row.pct * row.denom), axis = 1)

,GEOID,year,variable,value,table,main_var,second_var,new_var,var_type
6720,06037141400,2010,S1501_C01_006E,3428.0,edu,pop,total_pop25,pop_total_pop25,number
6721,06037141400,2010,S1501_C01_007E,2.1,edu,pop,hs9,pop_hs9,number
6722,06037141400,2010,S1501_C01_008E,3.1,edu,pop,hs12,pop_hs12,number
6723,06037141400,2010,S1501_C01_009E,12.5,edu,pop,hs,pop_hs,number
6724,06037141400,2010,S1501_C01_010E,17.4,edu,pop,college,pop_college,number
6725,06037141400,2010,S1501_C01_011E,4.3,edu,pop,aa,pop_aa,number
6726,06037141400,2010,S1501_C01_012E,33.5,edu,pop,ba,pop_ba,number
6727,06037141400,2010,S1501_C01_013E,27.0,edu,pop,ma,pop_ma,number
6728,06037141400,2010,S1501_C01_014E,94.7,edu,pop,pct_hsplus,pop_pct_hsplus,percent
6729,06037141400,2010,S1501_C01_015E,60.6,edu,pop,pct_baplus,pop_pct_baplus,percent
6730,06037141400,2010,S1501_C01_028E,0.0,edu,pop,pov_lhs,pop_pov_lhs,percent
6731,06037141400,2010,S1501_C01_029E,18.7,edu,pop,pov_hs,pop_pov_hs,percent
6732,06037141400,2010,S1501_C01_030E,6.2,edu,pop,college_pov,pop_college_pov,percent
6733,06037141400,2010,S1501_C01_031E,5.3,edu,pop,ba_pov,pop_ba_pov,percent
6734,06037141400,2010,S1501_C01_032E,65724.0,edu,pop,pop25_medearning,pop_pop25_medearning,dollar
6735,06037141400,2010,S1501_C01_033E,26076.0,edu,pop,lhs_medearning,pop_lhs_medearning,dollar
6736,06037141400,2010,S1501_C01_034E,33333.0,edu,pop,hs_medearning,pop_hs_medearning,dollar
6737,06037141400,2010,S1501_C01_035E,53971.0,edu,pop,college_medearning,pop_college_medearning,dollar
6738,06037141400,2010,S1501_C01_036E,61989.0,edu,pop,ba_medearning,pop_ba_medearning,dollar
6739,06037141400,2010,S1501_C01_037E,97396.0,edu,pop,ma_medearning,pop_ma_medearning,dollar
53640,06037141400,2011,S1501_C01_006E,3407.0,edu,pop,total_pop25,pop_total_pop25,number
53641,06037141400,2011,S1501_C01_007E,2.0,edu,pop,hs9,pop_hs9,number
53642,06037141400,2011,S1501_C01_008E,2.9,edu,pop,hs12,pop_hs12,number
53643,06037141400,2011,S1501_C01_009E,13.6,edu,pop,hs,pop_hs,number
53644,06037141400,2011,S1501_C01_010E,16.0,edu,pop,college,pop_college,number
53645,06037141400,2011,S1501_C01_011E,4.6,edu,pop,aa,pop_aa,number
53646,06037141400,2011,S1501_C01_012E,34.1,edu,pop,ba,pop_ba,number
53647,06037141400,2011,S1501_C01_013E,26.7,edu,pop,ma,pop_ma,number
53648,06037141400,2011,S1501_C01_014E,95.1,edu,pop,pct_hsplus,pop_pct_hsplus,percent
53649,06037141400,2011,S1501_C01_015E,60.8,edu,pop,pct_baplus,pop_pct_baplus,percent
...,...,...,...,...,...,...,...,...,...
305100,06037141400,2016,S1501_C01_055E,NaN,edu,pop,pov_lhs,pop_pov_lhs,percent
307446,06037141400,2016,S1501_C01_056E,NaN,edu,pop,pov_hs,pop_pov_hs,percent
309792,06037141400,2016,S1501_C01_057E,NaN,edu,pop,college_pov,pop_college_pov,percent
312138,06037141400,2016,S1501_C01_058E,NaN,edu,pop,ba_pov,pop_ba_pov,percent
314484,06037141400,2016,S1501_C01_059E,51153.0,edu,pop,pop25_medearning,pop_pop25_medearning,dollar
316830,06037141400,2016,S1501_C01_060E,NaN,edu,pop,lhs_medearning,pop_lhs_medearning,dollar
319176,06037141400,2016,S1501_C01_061E,NaN,edu,pop,hs_medearning,pop_hs_medearning,dollar
321522,06037141400,2016,S1501_C01_062E,NaN,edu,pop,college_medearning,pop_college_medearning,dollar
323868,06037141400,2016,S1501_C01_063E,50313.0,edu,pop,ba_medearning,pop_ba_medearning,dollar
326214,06037141400,2016,S1501_C01_064E,70313.0,edu,pop,ma_medearning,pop_ma_medearning,dollar
329330,06037141400,2017,S1501_C01_006E,3800.0,edu,pop,total_pop25,pop_total_pop25,number
331676,06037141400,2017,S1501_C01_007E,30.0,edu,pop,hs9,pop_hs9,number
334022,06037141400,2017,S1501_C01_008E,73.0,edu,pop,hs12,pop_hs12,number
336368,06037141400,2017,S1501_C01_009E,448.0,edu,pop,hs,pop_hs,number
338714,06037141400,2017,S1501_C01_010E,603.0,edu,pop,college,pop_college,number
341060,06037141400,2017,S1501_C01_011E,324.0,edu,pop,aa,pop_aa,number
343406,06037141400,2017,S1501_C01_012E,1180.0,edu,pop,ba,pop_ba,number
345752,06037141400,2017,S1501_C01_013E,1142.0,edu,pop,ma,pop_ma,number
348098,06037141400,2017,S1501_C01_014E,NaN,edu,pop,pct_hsplus,pop_pct_hsplus,percent
350444,06037141400,2017,S1501_C01_015E,NaN,edu,pop,pct_baplus,pop_pct_baplus,percent
352790,06037141400,2017,S1501_C01_055E,NaN,edu,pop,pov_lhs,pop_pov_lhs,percent
355136,06037141400,2017,S1501_C01_056E,NaN,edu,pop,pov_hs,pop_pov_hs,percent
357482,06037141400,2017,S1501_C01_057E,NaN,edu,pop,college_pov,pop_college_pov,percent
359828,06037141400,2017,S1501_C01_058E,NaN,edu,pop,ba_pov,pop_ba_pov,percent
362174,06037141400,2017,S1501_C01_059E,51167.0,edu,pop,pop25_medearning,pop_pop25_medearning,dollar
364520,06037141400,2017,S1501_C01_060E,NaN,edu,pop,lhs_medearning,pop_lhs_medearning,dollar
366866,06037141400,2017,S1501_C01_061E,NaN,edu,pop,hs_medearning,pop_hs_medearning,dollar
369212,06037141400,2017,S1501_C01_062E,41161.0,edu,pop,college_medearning,pop_college_medearning,dollar
371558,06037141400,2017,S1501_C01_063E,46098.0,edu,pop,ba_medearning,pop_ba_medearning,dollar
373904,06037141400,2017,S1501_C01_064E,71844.0,edu,pop,ma_medearning,pop_ma_medearning,dollar

In [39]:
edu[edu.year==2017]

,GEOID,year,variable,value,table,main_var,second_var,new_var,var_type
329330,06037141400,2017,S1501_C01_006E,3800.0,edu,pop,total_pop25,pop_total_pop25,number
331676,06037141400,2017,S1501_C01_007E,30.0,edu,pop,hs9,pop_hs9,number
334022,06037141400,2017,S1501_C01_008E,73.0,edu,pop,hs12,pop_hs12,number
336368,06037141400,2017,S1501_C01_009E,448.0,edu,pop,hs,pop_hs,number
338714,06037141400,2017,S1501_C01_010E,603.0,edu,pop,college,pop_college,number
341060,06037141400,2017,S1501_C01_011E,324.0,edu,pop,aa,pop_aa,number
343406,06037141400,2017,S1501_C01_012E,1180.0,edu,pop,ba,pop_ba,number
345752,06037141400,2017,S1501_C01_013E,1142.0,edu,pop,ma,pop_ma,number
348098,06037141400,2017,S1501_C01_014E,NaN,edu,pop,pct_hsplus,pop_pct_hsplus,percent
350444,06037141400,2017,S1501_C01_015E,NaN,edu,pop,pct_baplus,pop_pct_baplus,percent
352790,06037141400,2017,S1501_C01_055E,NaN,edu,pop,pov_lhs,pop_pov_lhs,percent
355136,06037141400,2017,S1501_C01_056E,NaN,edu,pop,pov_hs,pop_pov_hs,percent
357482,06037141400,2017,S1501_C01_057E,NaN,edu,pop,college_pov,pop_college_pov,percent
359828,06037141400,2017,S1501_C01_058E,NaN,edu,pop,ba_pov,pop_ba_pov,percent
362174,06037141400,2017,S1501_C01_059E,51167.0,edu,pop,pop25_medearning,pop_pop25_medearning,dollar
364520,06037141400,2017,S1501_C01_060E,NaN,edu,pop,lhs_medearning,pop_lhs_medearning,dollar
366866,06037141400,2017,S1501_C01_061E,NaN,edu,pop,hs_medearning,pop_hs_medearning,dollar
369212,06037141400,2017,S1501_C01_062E,41161.0,edu,pop,college_medearning,pop_college_medearning,dollar
371558,06037141400,2017,S1501_C01_063E,46098.0,edu,pop,ba_medearning,pop_ba_medearning,dollar
373904,06037141400,2017,S1501_C01_064E,71844.0,edu,pop,ma_medearning,pop_ma_medearning,dollar

In [ ]:
# Replace values that were percents with numbers
def edu_adjust(row):
    if (row.var_type=='percent'):
        return row.value / 100
    else:
        return row.value

edu['value_adj'] = edu.apply(edu_adjust, axis = 1)

In [ ]:
keep_me = ['GEOID', 'year', 'variable', 'table', 'main_var', 'second_var', 
           'new_var', 'value_adj', 'var_type']

edu = edu[keep_me]

## Population and Housing Units

In [ ]:
pop_housing = df[(df.table=='pop') | (df.table=='housing') ]

In [ ]:
def pop_housing_type(row):
    if row.second_var.find('tot') != -1:
        return 'number'
    
pop_housing['var_type'] = pop_housing.apply(pop_housing_type, axis = 1)

In [ ]:
# Create value_adj column (no adjustments needed, but need this so later can incorporate into loop)
def pop_housing_adjust(row):
    if row.var_type=='percent':
        return row.value / 100
    else:
        return row.value

pop_housing['value_adj'] = pop_housing.apply(pop_housing_adjust, axis = 1)

In [ ]:
keep_me = ['GEOID', 'year', 'variable', 'table', 'main_var', 'second_var', 
           'new_var', 'value_adj', 'var_type']

pop_housing = pop_housing[keep_me]

## Poverty

In [ ]:
povfam = df[df.table=='povfam']

In [ ]:
def povfam_type(row):
    if row.main_var.find('pov') != -1:
        return 'percent'
    else:
        return 'number'
    
povfam['var_type'] = povfam.apply(povfam_type, axis = 1)

In [ ]:
povfam['denom'] = povfam.apply(lambda row: row.value if row.new_var=='families' else np.nan, axis = 1)
povfam['denom'] = povfam['denom'].fillna(povfam.groupby(['GEOID', 'year'])['denom'].transform('max'))

In [ ]:
# Replace values that were percents with numbers
def povfam_adjust(row):
    if (row.var_type=='percent'):
        return (row.value/100) * row.denom
    else:
        return row.value

povfam['value_adj'] = povfam.apply(povfam_adjust, axis = 1)

In [ ]:
# Structure df so that there are number and percent columns, with values filled in
povfam['value_pct'] = povfam.value_adj / povfam.denom

In [ ]:
povfam

In [ ]:
"""
Food stamps table has inconsistent values.
2010-2014, hh in poverty is given in %. same as 
2015-2017, hh in poverty is given as numbers.
Do each table separately.

Store column that tells me if they are numbers, percents, or dollars.
"""
food = df[df.table=='food']
food[food.year==2012]

In [ ]:
df.to_stata('../data/raw_census_long.dta')

In [ ]:
pubassist = df[df.table=='pubassist']
# These are number of families that received food stamps
# Need to derive percents

In [ ]:
pubassist