# CPAS Comparision
This notebook compares Grant Table Schemas across applications years.

Notebook depend on Oracle SQL Developer Exports
Those are now stored in `data/grnt_exports`

In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import xlrd, xlwt, xlsxwriter

In [2]:
root_path = "../data/grnt_exports/g"

In [3]:
dfs = []
for i in range(30,46):
    df = pd.read_excel(root_path+str(i)+".xlsx", index_col = None)
    dfs.append(df)

In [4]:

tbl_container = []
for df in dfs:
    tbl_names = df.TABLE_NAME.unique()
    tbl_container.append(tbl_names)
common_tbls = set.intersection(*map(set,tbl_container))
print(common_tbls)

{'GRNT_HUD_OBJCTIVE', 'GRNT_PRJCT_LOCTN', 'GRNT_L_NOTE_TYP', 'GRNT_SRC_FND', 'GRNT_APLCTN_NOTE', 'GRNT_HUD_CD', 'GRNT_PRR_YR_CDBG', 'GRNT_L_ACCMPLSH', 'GRNT_L_APLC_ELIG', 'GRNT_L_EXPNS', 'GRNT_CNTCT', 'GRNT_LOCTN_TYP', 'GRNT_CPTL_PLAN_DTL', 'GRNT_BUD_GNRL_DTL', 'SERV_AREA_CENSUS_TRACT', 'GRNT_CASE_NOTE', 'GRNT_APLCTN_PROG', 'GRNT_BUD_EXPNS', 'GRNT_ACCMPLSH_DTL', 'GRNT_PRJCT_FND', 'GRNT_APLCTN_ATTCHMNT', 'GRNT_L_PRJCT_PRTY', 'GRNT_APLCTN', 'GRNT_CHK_LIST', 'GRNT_L_RECOM_APRV', 'GRNT_L_APLC_READINESS', 'GRNT_PRJCT_ACCMPLSH', 'GRNT_HSTRCL_RVW', 'GRNT_FORM', 'GRNT_CPTL_PLAN', 'GRNT_L_ATTCHMNT', 'GRNT_CPTL_TYP', 'GRNT_L_STAT', 'GRNT_STAT', 'GRNT_L_FND', 'GRNT_BUD'}

In [5]:
print(f'number of common tables is: {len(common_tbls)}')

number of common tables is: 36