# Explore HIMS
* Take closer look at the tables, track using ProjUniqueID, ProjNo, AssnProjAPNID, IDIS...see what identifiers are what

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Extract 3 unique ProjUniqueID across dfs and see what it looks like to merge
# 3658 = 5 obs
# 869 = 2 obs
# 12427 = 1 obs
unique_id = [3658, 869, 12427]

# Extract 3 ProjNo across dfs and see what it looks like
# 000052 = 8 obs
# 990407 = 2 obs
# 000048 = 1 obs
proj_no = ['000052', '990407', '000048']

In [39]:
# These tables have ProjUniqueID
tables = ['A', 'ActivityLog', 'AssnProjectUseProjectArea', 'FundingInfo', 'FundingInfoHistory',
         'Loan', 'MilestoneDate', 'NSPFundUse', 'ParticipantHistory', 'ProgramMilestones', 
         'Project', 'ProjectCouncilFile']

subset_dfs = {}

for table_name in tables:
    df = pd.read_parquet(f'../data/HIMS/{table_name}.parquet')
    df = df[df.ProjUniqueID.isin(unique_id)]
    subset_dfs[table_name] = df
    

# These tables have ProjNo
tables2 = ['DataCleanUpRawAPNs', 'DataCleanUpRawIDISs']

for table_name in tables2:
    df = pd.read_parquet(f'../data/HIMS/{table_name}.parquet')
    df = df[df.ProjNo.isin(proj_no)]
    subset_dfs[table_name] = df

## ProjUniqueID

In [42]:
df1 = subset_dfs['FundingInfo']
print(df1.columns)

Index(['FundingInfoID', 'ProjUniqueID', 'LutProjectActivityCD',
       'LutProjectFundingTypeCD', 'LutProjectCategoryID',
       'LutProjectSubCategoryID', 'LutFundingInfoSubsidyTypeCD',
       'LutSourceofFundsCD', 'LutIncomeTypeID', 'FundRevSrcID', 'AppAccountCD',
       'FundingAmt', 'ProjectCategoryOther', 'SubsidyTypeOther',
       'LutSubsidyTypeMMCCD', 'LutFirstMortgageTypeCD', 'CreatedBy',
       'DateCreatedBy', 'ModifiedBy', 'DateModified', 'Comments',
       'AppAccountID'],
      dtype='object')

In [20]:
df1[['FundingInfoID', 'ProjUniqueID', 'FundingAmt', 'FundRevSrcID', 'LutSourceofFundsCD', 'LutProjectFundingTypeCD']]

,FundingInfoID,ProjUniqueID,FundingAmt,FundRevSrcID,LutSourceofFundsCD,LutProjectFundingTypeCD
2509,3404,869,3516160.00,9.0,1,1
2511,3407,869,4045000.00,25.0,1,1
11697,15886,12427,53000.00,7.0,1,1
17004,23120,3658,720000.00,9.0,1,1
20098,27344,12427,0.00,7.0,1,1
21153,28776,12427,4000.00,7.0,1,1
23520,39026,869,1500000.00,NaN,1,6
23627,39140,869,17948879.00,NaN,1,3
23812,39330,869,3580000.00,NaN,1,4
24347,39890,869,294504.00,NaN,1,5
26948,42790,869,3714636.74,9.0,2,1

In [13]:
df1[df1.ProjUniqueID==869]

,FundingInfoID,ProjUniqueID,LutProjectActivityCD,LutProjectFundingTypeCD,LutProjectCategoryID,LutProjectSubCategoryID,LutFundingInfoSubsidyTypeCD,LutSourceofFundsCD,LutIncomeTypeID,FundRevSrcID,...,ProjectCategoryOther,SubsidyTypeOther,LutSubsidyTypeMMCCD,LutFirstMortgageTypeCD,CreatedBy,DateCreatedBy,ModifiedBy,DateModified,Comments,AppAccountID
2509,3404,869,6,1,1,4,1,1,0,9.0,...,,,0,NaN,SC,2009-11-02 16:40:39.293,SC,2009-11-02 16:40:39.567,None,NaN
2511,3407,869,6,1,1,4,1,1,0,25.0,...,,,0,NaN,SC,2009-11-02 16:40:39.293,SC,2009-11-02 16:40:39.567,None,NaN
23520,39026,869,15,6,25,0,1,1,0,NaN,...,,,0,NaN,SC,2009-11-02 16:40:39.293,SC,2009-11-02 16:40:39.567,None,NaN
23627,39140,869,15,3,11,0,2,1,0,NaN,...,,,0,NaN,SC,2009-11-02 16:40:39.293,SC,2009-11-02 16:40:39.567,None,NaN
23812,39330,869,15,4,13,0,1,1,0,NaN,...,,,0,NaN,SC,2009-11-02 16:40:39.293,SC,2009-11-02 16:40:39.567,None,NaN
24347,39890,869,15,5,110,0,1,1,0,NaN,...,,,0,NaN,SC,2009-11-02 16:40:39.293,SC,2009-11-02 16:40:39.567,None,NaN
26948,42790,869,6,1,1,4,1,2,0,9.0,...,,,0,NaN,VCendana,2011-08-10 09:34:07.437,VCendana,2011-08-10 09:34:07.437,None,NaN

In [8]:
df2.columns

Index(['ProjUniqueID', 'ProjectNo', 'ProjParentUID', 'LutProjectStatusCd',
       'ProjName', 'CalendarYear', 'CalendarMonth', 'LutNofaTypeID',
       'NofaYear', 'LutNofaRoundID', 'FullProjectNumber',
       'LutProjectCategoryID', 'LutProjectSubCategoryID', 'NumofUnits',
       'AttorneyphoneID', 'Attorneyname', 'LutDivisionDirectornameID',
       'LutProgramManagernameID', 'LutProgramSupervisorID',
       'LutFinanceOfficernameID', 'LutConstructionSpecialistID',
       'LutContractAgencyID', 'LutContractAgencyManagerCD',
       'LutContractAgencyContactCD', 'PropertyComments', 'DateCreatedOn',
       'CreatedBy', 'DateModifiedOn', 'ModifiedBy',
       'DateApplicationReceivedByLAHD', 'DateCommitmentLetterSigned',
       'DateApprovalByAGM', 'LtsProjectID', 'CBTSData', 'ProjectDescription',
       'LutCSPCD', 'DateTransmitted', 'NCSTNo', 'LutIDISActivityStatusCD',
       'DateCompletion', 'LeadProgramReffered', 'DateLeadProgramReffered',
       'DateNoticeToProceed', 'LutProjectSubStatusCD',
       'LutCDBGNationalObjectiveCD', 'LutProjectStageCD', 'NumberOfJobCreated',
       'CrossReferenceProjNo', 'LutProjectUnitStageCD', 'NotInWatchList',
       'UnitsComment', 'IsUnitFixed', 'IsUnitFloating', 'IsIncludHOPWA',
       'EstimatedNoOfUnitsForProjBasedRentalSubsidy',
       'AmtEstimatedProjBasedRentalSubsidy', 'NotInAffordableHousingRoster',
       'IsAddedToWatchList', 'ProjectNo_String', 'LutProjectStatusStageCD',
       'HODevProjName', 'LutMCCCreditAmtPercentCD', 'LutFundingLanguageCD',
       'VestingLanguage', 'LutLienID', 'AmtSeniorLienDownPayment',
       'AmtClosingCost', 'AmtPurchaseAssistance', 'LutLocationTypeCD',
       'LutPreservationStatusCD', 'LutRecapitalizationCD', 'PepDate',
       'PepMonth'],
      dtype='object')

In [37]:
df2[['ProjUniqueID', 'ProjectNo', 'ProjName', 'FullProjectNumber',
    'LutProjectCategoryID', 'LutProjectSubCategoryID', 
     'NumofUnits', 'LtsProjectID', 'ProjectDescription', 'DateCompletion', 'DateNoticeToProceed', 'LutProjectSubStatusCD', 
    'LutCDBGNationalObjectiveCD', 'LutProjectStageCD', 'LutProjectStatusStageCD', 'NumberOfJobCreated', 
     'CrossReferenceProjNo', 'ProjectNo_String', 'LutFundingLanguageCD', 'LutLocationTypeCD' ]]

# A lot of these are NaNs...the Lut*CD. Should we include these?

,ProjUniqueID,ProjectNo,ProjName,FullProjectNumber,LutProjectCategoryID,LutProjectSubCategoryID,NumofUnits,LtsProjectID,ProjectDescription,DateCompletion,DateNoticeToProceed,LutProjectSubStatusCD,LutCDBGNationalObjectiveCD,LutProjectStageCD,LutProjectStatusStageCD,NumberOfJobCreated,CrossReferenceProjNo,ProjectNo_String,LutFundingLanguageCD,LutLocationTypeCD
868,869,100868,CANTABRIA SENIOR APTS.,070022,1,4,2,070022,NEW CONSTRUCTION OF 81 AFFORDABLE HOUSING UNIT...,NaT,NaT,NaN,NaN,0,NaN,188.0,CRA876005,100868,NaN,NaN
3655,3658,103657,HABITAT FOR HUMANITY-LOS ANGELES,020416,2,7,2,020416,SMALL SITES DEVELOPMENT PROJECT,NaT,NaT,NaN,NaN,0,NaN,NaN,None,103657,NaN,NaN
12424,12427,112426,"IBARRA, MIGUEL & MARIA",950853,102,151,2,950853,None,1995-09-16,NaT,NaN,NaN,0,NaN,NaN,None,112426,NaN,NaN

In [44]:
df2 = subset_dfs['Project']
df2.head(3)

,ProjUniqueID,ProjectNo,ProjParentUID,LutProjectStatusCd,ProjName,CalendarYear,CalendarMonth,LutNofaTypeID,NofaYear,LutNofaRoundID,...,VestingLanguage,LutLienID,AmtSeniorLienDownPayment,AmtClosingCost,AmtPurchaseAssistance,LutLocationTypeCD,LutPreservationStatusCD,LutRecapitalizationCD,PepDate,PepMonth
868,869,100868,NaN,2,CANTABRIA SENIOR APTS.,2007,1,1.0,2007.0,1.0,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
3655,3658,103657,NaN,0,HABITAT FOR HUMANITY-LOS ANGELES,2002,1,NaN,NaN,NaN,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
12424,12427,112426,NaN,2,"IBARRA, MIGUEL & MARIA",1995,1,NaN,NaN,NaN,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN

In [64]:
df3 = pd.read_parquet('../data/HIMS/IDISActivity.parquet')
print(df3.columns)
df3 = df3[['PROJECT_ID']].drop_duplicates()
print(df3.head())

Index(['ACTIVITY_ID', 'PROJECT_ID', 'GRANTEE_ID', 'IDIS_ACTV_ID', 'NAME',
       'GRANTEE_ACTV_NUM', 'SETUP_DT', 'INIT_FUNDING_DT', 'COMPLETED_DT',
       'ACTIVITY_STATUS_CODE', 'INSERT_USER_ID'],
      dtype='object')

In [65]:
df3.head()

         PROJECT_ID
0     2109719940001
1     2109719940002
2     2109719940003
3     2109719940004
1958  2109720010002

In [66]:
df4 = pd.read_parquet('../data/HIMS/DataCleanUpRawIDISs.parquet')
df4 = df4[df4.IDISs.notna()][['ProjNo', 'IDISs']]
df4 = df4.drop_duplicates()
df4.head()

   ProjNo       IDISs
0  020098  6074001012
1  020318  6074003016
2  010286  6065283400
3  020254  6063017009
4  990246

In [67]:
pd.merge(df3, df4, left_on = 'PROJECT_ID', right_on = 'IDISs')

Empty DataFrame
Columns: [PROJECT_ID, ProjNo, IDISs]
Index: []

## Find the ones to extract

In [70]:
b = pd.read_parquet('../data/HIMS/DataCleanUpRawAPNs.parquet')
b1 = b[b.ProjNo.isin(proj_no)]
b1

In [68]:
full_list = ['A', 'ActivityLog', 'AssnProjectIDISNo', 'AssnProjectAPNCBTS', 'AssnProjectIDIS','AssnProjectUseProjectArea', 
              'DataCleanUp', 'DataCleanUpRawAPNs', 'DataCleanUpRawIDISs', 'EllisApns', 
              'FundingInfo', 'FundingInfoHistory', 
              'IDISActivity', 'IDISHomeCount', 'IDISHomeStatus',
              'landuseAPN_1', 'LandUsed', 
              'Loan', 'MilestoneDate', 'NSPFundUse',
              'ParticipantHistory', 'PercentGrossRentUnits', 'ProgramMilestones', 'ProjectCouncilFile', 
              'ProjectStatusChangeHistory', 'ProjectUnits', 'Property', 
             ]

df = pd.read_parquet('../data/HIMS/IDISActivity.parquet')
df.head()

,ACTIVITY_ID,PROJECT_ID,GRANTEE_ID,IDIS_ACTV_ID,NAME,GRANTEE_ACTV_NUM,SETUP_DT,INIT_FUNDING_DT,COMPLETED_DT,ACTIVITY_STATUS_CODE,INSERT_USER_ID
0,2.109700e+09,2109719940001,21097,1,HOME COMMITTED FUNDS ADJUSTMENT,None,0001-01-011997-02-052005-07-20OC04BO03,1997-08-27C22859,2009-10-22,A,CONVERTED HOME ACTIVITIES
1,2.109700e+09,2109719940002,21097,2,CDBG COMMITTED FUNDS ADJUSTMENT,None,0001-01-010001-01-012006-07-26OC04BO03,1997-08-27C22859,2009-10-22,C,None
2,2.109700e+09,2109719940003,21097,3,ESG COMMITTED FUNDS ADJUSTMENT,None,0001-01-010001-01-012005-11-23OC04BO03,1997-08-27C22859,2009-10-22,C,None
3,2.109700e+09,2109719940004,21097,4,HOPWA COMMITTED FUNDS ADJUSTMENT,None,0001-01-010001-01-012005-11-23OC04BO03,1997-08-27C22859,2009-10-22,C,|* *|
4,2.109700e+09,2109719940001,21097,5,"STEPHENS, ANGELA",930364,1992-09-101992-09-101992-12-28CC04BO03,1997-08-27C28133,2005-10-27,C,None